<config>
  <constants
    cache_path="/home/shared/data1/factorsim_data/Cache"
    factor_root="/home/shared/data1/factorsim_data/Factor/FactorData/ZsimPool"
    output_root="output-torch"
    checkpoint_root="checkpoints-torch"
  />

  <strategy start_ds="20200101" end_ds="20240631" path="../alpha_strategy.py" />

  <combo>
    <paths
      model_path="model.py"
    />

    <runtime
      snaptime="example_torch"
      livetrading="false"
      trainDelay="0"
      retDays="5"
      tsDays="5"
      model_smooth_rate="0.7"
      model_keep_num="0"
      select_days="120"
      max_train_days="2000"
    />

    <model
      device="cpu"
      hiddenSize="512"
      fcSize="256"
      dropout="0.5"
      lr="0.000002"
      epochs="15"
      batchSize="3"
      weight_decay="0.000001"
      scheduler_step_size="10"
      scheduler_gamma="0.5"
      grad_clip="10.0"
      seed="42"
    />

    <loader dtype="float16" data_start_ds="20160101">
      <factor_paths>
        <path>cyz_20231130_01</path>
        <path>cyz_20231130_02</path>
        <path>cyz_20231130_03</path>
        <path>cyz_20240718_01</path>
        <path>cyz_20240718_02</path>
        <path>cyz_20240212_02</path>
        <path>cyz_20240212_01</path>
        <path>cyz_20240208_01</path>
        <path>cyz_20231026_01</path>
        <path>cyz_20231026_02</path>
        <path>cyz_20240627_1</path>
        <path>cyz_20240627_2</path>
        <path>cyz_20240627_3</path>
        <path>cyz_20240627_4</path>
        <path>cyz_20231019_01</path>
        <path>cyz_20231019_02</path>
        <path>cyz_20231207_01</path>
        <path>cyz_20231207_02</path>
        <path>cyz_20231207_03</path>
        <path>cyz_20231207_04</path>
        <path>cyz_20231207_05</path>
        <path>cyz_20240425_2</path>
        <path>cyz_20240425_3</path>
        <path>cyz_20240425_5</path>
        <path>cyz_20240425_4</path>
        <path>cyz_20240425_6</path>
        <path>cyz_20231123_01</path>
        <path>cyz_20240219_01</path>
        <path>cyz_20240220_02</path>
        <path>cyz_20240222_03</path>
        <path>cyz_20240226_04</path>
        <path>wjx_20231130_01</path>
        <path>wjx_20231130_02</path>
        <path>wjx_20240523_01</path>
        <path>wjx_20240523_02</path>
        <path>wjx_20240523_03</path>
        <path>wjx_20240523_04</path>
        <path>wjx_20240425_01</path>
        <path>wjx_20240425_02</path>
        <path>wjx_20240425_03</path>
        <path>wjx_20240829_01</path>
        <path>wjx_20240829_02</path>
        <path>wjx_20240704_01</path>
        <path>wjx_20240704_02</path>
        <path>wjx_20240912_01</path>
        <path>wjx_20240912_02</path>
        <path>wjx_20240912_03</path>
        <path>wjx_20240411_01</path>
        <path>wjx_20240725_01</path>
        <path>xk_0224_02</path>
        <path>xk_0224_04</path>
        <path>xk_0224_07</path>
        <path>xk_0425_02</path>
        <path>xk_0202_02</path>
        <path>xk_0202_06</path>
        <path>xk_0202_08</path>
        <path>xk_0530_01</path>
        <path>xk_0530_02</path>
        <path>xk_0530_03</path>
        <path>xk_0411_02</path>
        <path>yz_20250219_01</path>
        <path>yz_20250219_02</path>
        <path>yz_20250219_03</path>
        <path>yz_20250219_04</path>
        <path>yz_20241106_01</path>
        <path>yz_20241106_02</path>
        <path>yz_20241030_01</path>
        <path>yz_20241030_02</path>
        <path>yz_20241030_03</path>
        <path>yz_20241016_01</path>
        <path>yz_20241016_02</path>
        <path>yz_20241016_03</path>
        <path>yz_20241016_04</path>
        <path>yz_20240731_01</path>
        <path>yz_20240731_02</path>
        <path>yz_20240731_03</path>
        <path>yz_20240731_04</path>
        <path>yz_20240731_05</path>
        <path>yz_20240731_06</path>
        <path>yz_20240731_07</path>
        <path>yz_20240620_01</path>
        <path>yz_20240620_02</path>
        <path>yz_20240620_03</path>
        <path>yz_20240620_04</path>
        <path>yz_20240620_05</path>
        <path>yz_20240718_01</path>
        <path>yz_20240718_02</path>
        <path>yz_20240718_03</path>
        <path>yz_20240718_04</path>
        <path>yz_20241113_01</path>
        <path>yz_20241113_02</path>
        <path>yz_20241113_03</path>
        <path>yz_20241113_04</path>
        <path>yz_20250114_01</path>
        <path>yz_20250114_02</path>
        <path>yz_20240627_02</path>
        <path>yz_20240704_01</path>
        <path>yz_20240704_02</path>
        <path>yz_20240704_03</path>
        <path>yz_20240704_04</path>
      </factor_paths>
    </loader>
  </combo>

  <backtest
    daily_metrics_file="daily_pnl.csv"
    cash="10000000"
    fee_rate="0.00075"
    reserve_cash="0.95"
    verbose="false"
    universe="base"
  />
</config>
