__pycache__/
*.py[cod]

.pytest_cache/

.venv/
.pdm-build/
.pdm-python
.python-version
pdm.lock
pyproject.toml
output**/
checkpoints**/
optuna_runs/
AGENTS.md
pos_corr/
manual_logs/

optuna_framework/
haoyi_models/
